Repository voxpupuli/puppet-rundeck, pull requests merged in 2018-07, with the labels that each got.

#385 modulesync 1.9.3
  .msync.yml
  .travis.yml
  Gemfile
Labels: modulesync

#384 Fix default project attribute names
  manifests/config.pp
Labels: bug

#386 release 5.3.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog

#388 modulesync 1.9.4
  .msync.yml
  .travis.yml
Labels: modulesync
