Repository voxpupuli/puppet-rundeck, pull requests merged in 2018-10, with the labels that each got.

#400 Add support for rundeck 3.x
  manifests/config.pp
  manifests/params.pp
  spec/acceptance/rundeck_spec.rb
  spec/classes/config/global/rundeck_config_spec.rb
  spec/classes/config/global/web_spec.rb
  spec/defines/config/securityroles_spec.rb
  templates/rundeck-config.erb
Labels: enhancement

#402 Fix PR #392 + added rundeck_commitid fact
  .sync.yml
  lib/facter/rundeck_version.rb
  spec/facter/fact_rundeck_version_spec.rb
  spec/spec_helper.rb
Labels: bug

#404 Release 5.4.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog

#401 Turn serialnumber into UUID
  README.md
  examples/demo_install_el7.pp
  manifests/install.pp
  manifests/params.pp
  spec/classes/rundeck_spec.rb
Labels: enhancement
