Repository voxpupuli/puppet-rundeck, pull requests merged in 2020-05, with the labels that each got.

#433 drop Ubuntu 14.04 support
  README.md
  metadata.json
Labels: backwards-incompatible

#443 Drop Debian 8, add EL 8 & Ubuntu 18.04
  .sync.yml
  .travis.yml
  metadata.json
  spec/defines/config/securityroles_spec.rb
  spec/spec_helper_acceptance.rb
Labels: backwards-incompatible

#444 Allow puppetlabs/java_ks 3.x
  metadata.json
Labels: enhancement

#431 modulesync 2.12.0
  .github/CONTRIBUTING.md
  .msync.yml
  .rubocop.yml
  .travis.yml
  Dockerfile
  Gemfile
  Rakefile
  manifests/install.pp
  manifests/params.pp
  spec/classes/config/global/gui_config_spec.rb
  spec/classes/config/global/ssl_spec.rb
  spec/classes/rundeck_spec.rb
  spec/defines/config/plugin_spec.rb
  spec/spec_helper.rb
  spec/spec_helper_acceptance.rb
Labels: modulesync
