Repository voxpupuli/puppet-rundeck, pull requests merged in 2023-11, with the labels that each got.

#509 modulesync 7.0.0
  .github/CONTRIBUTING.md
  .msync.yml
  Gemfile
  lib/puppet/parser/functions/validate_rd_policy.rb
  spec/classes/config/global/auth_spec.rb
  spec/classes/config/global/service_restart_spec.rb
  spec/classes/install_spec.rb
  spec/functions/validate_rd_policy/signature_spec.rb
  spec/spec_helper.rb
  spec/unit/facter/fact_rundeck_version_spec.rb
Labels: modulesync

#519 Convert documentation to Puppet Strings format
  README.md
  REFERENCE.md
  examples/demo_install_el7.pp
  examples/ldap_shared.pp
  manifests/config.pp
  manifests/config/aclpolicyfile.pp
  manifests/config/file_keystore.pp
  manifests/config/global/file_keystore.pp
  manifests/config/global/framework.pp
  manifests/config/global/project.pp
  manifests/config/global/rundeck_config.pp
  manifests/config/global/ssl.pp
  manifests/config/global/web.pp
  manifests/config/plugin.pp
  manifests/config/project.pp
  manifests/config/resource_source.pp
  manifests/init.pp
  manifests/install.pp
  manifests/service.pp
  types/loglevel.pp
  types/sourcetype.pp
Labels: docs

#516 Update key storage parameters and update documentation
  README.md
  REFERENCE.md
  manifests/config.pp
  manifests/config/global/rundeck_config.pp
  manifests/init.pp
  manifests/params.pp
  spec/classes/config/global/rundeck_config_spec.rb
  templates/rundeck-config.epp
Labels: backwards-incompatible
