Repository voxpupuli/puppet-rundeck, pull requests merged in 2023-12, with the labels that each got.

#522 modulesync 7.2.0
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .msync.yml
  .pmtignore
  Gemfile
Labels: modulesync

#523 Release 9.0.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog

#524 Fix key storage config
  REFERENCE.md
  types/key_storage_config.pp
Labels: bug

#525 Release 9.0.1
  CHANGELOG.md
  metadata.json
Labels: skip-changelog

#526 Add aditional required framework config
  manifests/config.pp
Labels: bug
